@import url('./components/navbar/navbar.css');

:root {
  --primary-color: #e1bee7;
}

.cards_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color: var(--primary-color);
}

.container {
  margin-top: 4rem;
}

.image-box {
  position: relative;
  height: 500px;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.hide-two {
  display: flex;
}

@media screen and (max-width:800px) {
  .container {
    margin-top: 4rem;
    max-width: 100vw;
  }

  .container>Box {
    max-width: 100vw;
  }

  .hide {
    display: flex;
  }

  .hide-two {
    display: none;
  }
}